<div class="row">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= render partial: 'rooms' %>
    </div>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the Chat app!
      </h4>

      <p>
        Some text here
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar
      </p>
    </div>
  </div>
</div>